html, body {
    box-sizing: border-box;
    /* min-width: 380px; */
}

#bg {
    box-sizing: border-box;
     background: url(img/bar.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: -100;
    border: 16px solid white;
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    top: 0;
    margin: 2em auto 0 auto;
    max-width: max-content;
    nav > * {
        margin: 0 0.2em 0.2em 0.2em;
    }
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

nav > * {
    margin: 0 1em;
}

button {
    min-width: 5rem;
    width: 5rem;
    border-radius: 0.5em;
    border: 0.1rem solid white;
    background-color: #00000088;
    color: white;
}

button:hover {
    border-color: black;
}

#content {
    overflow: scroll;
    -moz-overflow: scroll;
    margin: 1rem auto 0 auto;
    /* min-width: min-content; */
    width: 60%;
    max-width: 500px;
    max-height: 85vh;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5em;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#content::-webkit-scrollbar {
    display: none;
}

#content > h2, #content > h3 {
    min-width: min-content;
    max-width: max-content;
    margin-top: 1rem;
    margin-bottom: 0;
}

#content > * {
    background-color: #00000088;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 10px 0;
    border: 0.1rem solid white;
}

#content > div {
    box-sizing: border-box;
    width: 100%;
}

#meals {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 200em;
    gap: 10px;
    text-align: center;
    p {
        margin: auto;
    }
    img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        margin: auto;
    }
    
}

#drinks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 200em;
    gap: 10px;
    text-align: center;
    p {
        margin: auto;
    }
    img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        margin: auto;
    }
    
}

a {
    display: block;
    margin: 10px;
    color: white;
}

a:hover {
    color: wheat;
}

a + p {
    margin: 10px;
}

@media screen and (max-width: 1000px) {
    #bg {
        border: none;
    }
}

@media screen and (max-width: 1100px) {
    #content {
        max-height: 80vh;
    }
}

@media screen and (max-width: 690px) {
    #content {
        width: 90%;
    }
    #meals {
        grid-template-columns: 1fr;
        grid-template-rows: initial;
    }
    #drinks {
        grid-template-columns: 1fr;
        grid-template-rows: initial;
    }
    button {
        margin: 10px;
    }
}